In [135]:
import pandas as pd

sensor_data = "001_b45731a0_raw_sensor_data.csv"
cognitive_phase_data = "001-cognitive-phase.csv"

df_sensor = pd.read_csv(sensor_data, low_memory=False)
df_phases = pd.read_csv(cognitive_phase_data)

df_sensor.head()
df_phases.head()

# print(df_sensor['Timestamp'].dtype)
# print(df_phases['Time Started'].dtype)

  Time Started       Cognitive Task              Screens
0      0:00:00     Data Exploration  Supporting material
1      0:02:42     Data Exploration                  Map
2      0:02:47     Data Exploration  Supporting material
3      0:03:00     Data Exploration                  Map
4      0:03:05  Generate Hypothesis  Supporting material

In [136]:
import datetime

# Define a function to convert a time string to milliseconds
def time_to_ms(time_str):
    time_obj = datetime.datetime.strptime(time_str, '%H:%M:%S').time()  # Parse time string to time object
    delta_obj = datetime.timedelta(hours=time_obj.hour, minutes=time_obj.minute, seconds=time_obj.second)  # Create timedelta object
    ms = delta_obj.total_seconds() * 1000  # Convert to milliseconds
    return ms

# Convert the 'Time Started' column to milliseconds
df_phases['Time Started'] = df_phases['Time Started'].apply(time_to_ms)

# Print the resulting DataFrame
print(df_phases)
print(df_phases['Time Started'].dtype)

     Time Started       Cognitive Task              Screens
0             0.0     Data Exploration  Supporting material
1        162000.0     Data Exploration                  Map
2        167000.0     Data Exploration  Supporting material
3        180000.0     Data Exploration                  Map
4        185000.0  Generate Hypothesis  Supporting material
..            ...                  ...                  ...
166     2545000.0       Assess Results                  Map
167     2551000.0      Test Hypothesis               Filter
168     2557000.0       Assess Results                  Map
169     2564000.0       Assess Results           Statistics
170     2602000.0             Conclude  Supporting material

[171 rows x 3 columns]
float64

In [137]:
merged_df = pd.merge_asof(df_sensor, df_phases, left_on='Timestamp', right_on='Time Started')
final_df = merged_df[['Timestamp','Time Started', 'Anger', 'Contempt', 'Disgust', 'Fear', 'Joy', 'Sadness', 'Surprise', 'Engagement', 'Valence', 'Sentimentality', 'Confusion']]
final_df.head()

,Timestamp,Time Started,Anger,Contempt,Disgust,Fear,Joy,Sadness,Surprise,Engagement,Valence,Sentimentality,Confusion
0,36236.0,0.0,0.125566,0.186393,0.023706,0.125796,0.025453,0.125512,0.055428,0.328766,0.0,0.030948,0.004428
1,36254.9,0.0,0.125566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,36269.0,0.0,0.125566,0.186909,0.023738,0.126169,0.025312,0.125694,0.055510,0.328766,0.0,0.051102,0.007234
3,36284.9,0.0,0.125566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,36301.0,0.0,0.125566,0.187818,0.023798,0.126605,0.025114,0.125970,0.055607,0.328766,0.0,0.043316,0.012638

In [139]:
#Remove rows with empty emotions data
final_df = final_df.dropna(subset=['Contempt'])
final_df.tail()

,Timestamp,Time Started,Anger,Contempt,Disgust,Fear,Joy,Sadness,Surprise,Engagement,Valence,Sentimentality,Confusion
158537,2699946.0,2602000.0,3.681722,0.140199,0.024844,4.939115,0.038651,0.110343,2.680707,0.328766,0.0,0.038054,0.009343
158538,2699979.0,2602000.0,3.479876,0.137436,0.024335,4.663588,0.039819,0.109299,2.567321,0.328766,0.0,0.027288,0.009260
158539,2700009.0,2602000.0,3.171252,0.139108,0.024456,4.206734,0.039129,0.109841,2.291128,0.328766,0.0,0.025101,0.010269
158540,2700041.0,2602000.0,3.140329,0.137927,0.024342,4.166446,0.039638,0.109387,2.280451,0.328766,0.0,0.023803,0.012145
158541,2700073.0,2602000.0,3.286117,0.138426,0.024482,4.377196,0.039399,0.109571,2.393333,0.328766,0.0,0.025101,0.014538