<h1>All Respondents Analysis with Grades</h1>

<h2>Read All Respondents Data</h2>

In [1]:
import os
import pandas as pd

# Specify the folder path where the CSV files are located
folder_path = "all respondents data"

# Initialize an empty dataframe to store the combined data
combined_data = pd.DataFrame()

# Loop through each file in the folder with .csv extension and append to the combined_data dataframe
for filename in os.listdir(folder_path):
    if filename.endswith(".csv"):
        file_path = os.path.join(folder_path, filename)
        df = pd.read_csv(file_path, low_memory=False)
        respondent_num = filename.split('_')[0]  # Get the first part of the filename before the first '_'
        df['Respondent'] = respondent_num  # Add a new column with the respondent number
        combined_data = pd.concat([combined_data, df])

columns_to_remove = ['Row','Timestamp','EventSource','SlideEvent','StimType','Duration',
                     'CollectionPhase','SourceStimuliName','EventSource','SampleNumber','EventSource.1',
                     'Blink', 'BlinkRate', 'EventSource.2', 'ET_TimeSignal', 'EventSource.3']
combined_data.drop(columns_to_remove, axis=1, inplace=True)

# Print the combined data
print(combined_data)

           Anger  Contempt   Disgust      Fear       Joy   Sadness  Surprise  \
0            NaN       NaN       NaN       NaN       NaN       NaN       NaN
1            NaN       NaN       NaN       NaN       NaN       NaN       NaN
2            NaN       NaN       NaN       NaN       NaN       NaN       NaN
3            NaN       NaN       NaN       NaN       NaN       NaN       NaN
4            NaN       NaN       NaN       NaN       NaN       NaN       NaN
...          ...       ...       ...       ...       ...       ...       ...
147733       NaN       NaN       NaN       NaN       NaN       NaN       NaN
147734  0.195341  0.187637  0.027562  0.130503  0.043328  0.117269  0.057809
147735  0.245047  0.204197  0.028027  0.133038  0.041089  0.118906  0.057576
147736       NaN       NaN       NaN       NaN       NaN       NaN       NaN
147737       NaN       NaN       NaN       NaN       NaN       NaN       NaN

        Engagement  Valence  Sentimentality  ...  Saccade Index by Stimulus  \
0              NaN      NaN             NaN  ...                        NaN
1              NaN      NaN             NaN  ...                        NaN
2              NaN      NaN             NaN  ...                        NaN
3              NaN      NaN             NaN  ...                        NaN
4              NaN      NaN             NaN  ...                        NaN
...            ...      ...             ...  ...                        ...
147733         NaN      NaN             NaN  ...                        NaN
147734    0.328766      0.0        0.645367  ...                        NaN
147735    0.328766      0.0        0.701570  ...                        NaN
147736         NaN      NaN             NaN  ...                        NaN
147737         NaN      NaN             NaN  ...                        NaN

        Saccade Start  Saccade End  Saccade Duration  Saccade Amplitude  \
0                 NaN          NaN               NaN                NaN
1             36046.4      36190.9             144.5          10.863743
2             36046.4      36190.9             144.5          10.863743
3             36046.4      36190.9             144.5          10.863743
4                 NaN          NaN               NaN                NaN
...               ...          ...               ...                ...
147733      2522535.8    2523204.8             669.0          13.749534
147734            NaN          NaN               NaN                NaN
147735            NaN          NaN               NaN                NaN
147736            NaN          NaN               NaN                NaN
147737            NaN          NaN               NaN                NaN

        Saccade Peak Velocity  Saccade Peak Acceleration  \
0                         NaN                        NaN
1                  187.888661                1271.556906
2                  187.888661                1271.556906
3                  187.888661                1271.556906
4                         NaN                        NaN
...                       ...                        ...
147733             185.949516                4693.041627
147734                    NaN                        NaN
147735                    NaN                        NaN
147736                    NaN                        NaN
147737                    NaN                        NaN

        Saccade Peak Deceleration  Saccade Direction  Respondent
0                             NaN                NaN         001
1                    -1870.865410          39.448696         001
2                    -1870.865410          39.448696         001
3                    -1870.865410          39.448696         001
4                             NaN                NaN         001
...                           ...                ...         ...
147733               -4362.382069         331.759749         019
147734                        NaN                NaN         019
147735                        NaN                NaN         019
147736                        NaN                NaN         019
147737                        NaN                NaN         019

[1533702 rows x 77 columns]

In [2]:
import pandas as pd

# Read in the Grades.csv file
grades_df = pd.read_csv('Grades.csv')

# Remove the trailing underscore from the "Respondent" column in the grades_df dataframe
grades_df['Respondent'] = grades_df['Respondent'].str.rstrip('_')

# Merge the combined_data and grades_df dataframes based on the "Respondent" column
combined_data_with_grades = pd.merge(combined_data, grades_df[['Respondent', 'Grade']], on='Respondent')

# Print the resulting dataframe with the added "Grade" column
print(combined_data_with_grades)

            Anger  Contempt   Disgust      Fear       Joy   Sadness  Surprise  \
0             NaN       NaN       NaN       NaN       NaN       NaN       NaN
1             NaN       NaN       NaN       NaN       NaN       NaN       NaN
2             NaN       NaN       NaN       NaN       NaN       NaN       NaN
3             NaN       NaN       NaN       NaN       NaN       NaN       NaN
4             NaN       NaN       NaN       NaN       NaN       NaN       NaN
...           ...       ...       ...       ...       ...       ...       ...
1533697       NaN       NaN       NaN       NaN       NaN       NaN       NaN
1533698  0.195341  0.187637  0.027562  0.130503  0.043328  0.117269  0.057809
1533699  0.245047  0.204197  0.028027  0.133038  0.041089  0.118906  0.057576
1533700       NaN       NaN       NaN       NaN       NaN       NaN       NaN
1533701       NaN       NaN       NaN       NaN       NaN       NaN       NaN

         Engagement  Valence  Sentimentality  ...  Saccade Start  Saccade End  \
0               NaN      NaN             NaN  ...            NaN          NaN
1               NaN      NaN             NaN  ...        36046.4      36190.9
2               NaN      NaN             NaN  ...        36046.4      36190.9
3               NaN      NaN             NaN  ...        36046.4      36190.9
4               NaN      NaN             NaN  ...            NaN          NaN
...             ...      ...             ...  ...            ...          ...
1533697         NaN      NaN             NaN  ...      2522535.8    2523204.8
1533698    0.328766      0.0        0.645367  ...            NaN          NaN
1533699    0.328766      0.0        0.701570  ...            NaN          NaN
1533700         NaN      NaN             NaN  ...            NaN          NaN
1533701         NaN      NaN             NaN  ...            NaN          NaN

         Saccade Duration  Saccade Amplitude  Saccade Peak Velocity  \
0                     NaN                NaN                    NaN
1                   144.5          10.863743             187.888661
2                   144.5          10.863743             187.888661
3                   144.5          10.863743             187.888661
4                     NaN                NaN                    NaN
...                   ...                ...                    ...
1533697             669.0          13.749534             185.949516
1533698               NaN                NaN                    NaN
1533699               NaN                NaN                    NaN
1533700               NaN                NaN                    NaN
1533701               NaN                NaN                    NaN

         Saccade Peak Acceleration  Saccade Peak Deceleration  \
0                              NaN                        NaN
1                      1271.556906               -1870.865410
2                      1271.556906               -1870.865410
3                      1271.556906               -1870.865410
4                              NaN                        NaN
...                            ...                        ...
1533697                4693.041627               -4362.382069
1533698                        NaN                        NaN
1533699                        NaN                        NaN
1533700                        NaN                        NaN
1533701                        NaN                        NaN

         Saccade Direction  Respondent  Grade
0                      NaN         001  100.0
1                39.448696         001  100.0
2                39.448696         001  100.0
3                39.448696         001  100.0
4                      NaN         001  100.0
...                    ...         ...    ...
1533697         331.759749         019   55.0
1533698                NaN         019   55.0
1533699                NaN         019   55.0
1533700                NaN         019   55.0
1533701                NaN         019   55.0

[1533702 rows x 78 columns]

In [3]:
print(combined_data_with_grades.columns)

Index(['Anger', 'Contempt', 'Disgust', 'Fear', 'Joy', 'Sadness', 'Surprise',
       'Engagement', 'Valence', 'Sentimentality', 'Confusion', 'Neutral',
       'Attention', 'Brow Furrow', 'Brow Raise', 'Cheek Raise', 'Chin Raise',
       'Dimpler', 'Eye Closure', 'Eye Widen', 'Inner Brow Raise', 'Jaw Drop',
       'Lip Corner Depressor', 'Lip Press', 'Lip Pucker', 'Lip Stretch',
       'Lip Suck', 'Lid Tighten', 'Mouth Open', 'Nose Wrinkle', 'Smile',
       'Smirk', 'Upper Lip Raise', 'Pitch', 'Yaw', 'Roll',
       'Interocular Distance', 'ET_PupilLeft', 'ET_PupilRight',
       'ET_DistanceLeft', 'ET_DistanceRight', 'ET_GazeLeftx', 'ET_GazeLefty',
       'ET_GazeRightx', 'ET_GazeRighty', 'ET_ValidityLeftEye',
       'ET_ValidityRightEye', 'ET_CameraLeftX', 'ET_CameraLeftY',
       'ET_CameraRightX', 'ET_CameraRightY', 'Gaze X', 'Gaze Y',
       'Interpolated Gaze X', 'Interpolated Gaze Y', 'Interpolated Distance',
       'Gaze Velocity', 'Gaze Acceleration', 'Fixation Index',
       'Fixation Index by Stimulus', 'Fixation X', 'Fixation Y',
       'Fixation Start', 'Fixation End', 'Fixation Duration',
       'Fixation Dispersion', 'Saccade Index', 'Saccade Index by Stimulus',
       'Saccade Start', 'Saccade End', 'Saccade Duration', 'Saccade Amplitude',
       'Saccade Peak Velocity', 'Saccade Peak Acceleration',
       'Saccade Peak Deceleration', 'Saccade Direction', 'Respondent',
       'Grade'],
      dtype='object')

<h2>Facial Expressions Analysis</h2>

<h3>Data Pre-processing</h3>

In [4]:
import pandas as pd

facial_expressions_columns = ['Respondent', 'Grade','Anger', 'Contempt', 'Disgust', 'Fear', 'Joy', 'Sadness', 'Surprise',
       'Engagement', 'Valence', 'Sentimentality', 'Confusion', 'Neutral',
       'Attention', 'Brow Furrow', 'Brow Raise', 'Cheek Raise', 'Chin Raise',
       'Dimpler', 'Eye Closure', 'Eye Widen', 'Inner Brow Raise', 'Jaw Drop',
       'Lip Corner Depressor', 'Lip Press', 'Lip Pucker', 'Lip Stretch',
       'Lip Suck', 'Lid Tighten', 'Mouth Open', 'Nose Wrinkle', 'Smile',
       'Smirk', 'Upper Lip Raise', 'Pitch', 'Yaw',
       'Roll']
# Creating a copy df with only the facial expressions data
facial_expressions_data = combined_data_with_grades[facial_expressions_columns].copy()

# Remove rows with all NaN values, except in the 'Respondent' column
facial_expressions_data = facial_expressions_data.dropna(how='all', 
                                                         subset=facial_expressions_data.columns.difference(['Respondent', 'Grade']))

facial_expressions_data.head()

,Respondent,Grade,Anger,Contempt,Disgust,Fear,Joy,Sadness,Surprise,Engagement,...,Lip Suck,Lid Tighten,Mouth Open,Nose Wrinkle,Smile,Smirk,Upper Lip Raise,Pitch,Yaw,Roll
5,001,100.0,0.125566,0.186393,0.023706,0.125796,0.025453,0.125512,0.055428,0.328766,...,0.000806,0.002685,0.027488,0.008689,0.443331,0.0,0.000345,6.757946,-1.150817,-0.977193
7,001,100.0,0.125833,0.186909,0.023738,0.126169,0.025312,0.125694,0.055510,0.328766,...,0.002314,0.002068,0.027396,0.013201,0.406091,0.0,0.000376,3.458502,-0.160348,0.267830
9,001,100.0,0.126258,0.187818,0.023798,0.126605,0.025114,0.125970,0.055607,0.328766,...,0.003132,0.002222,0.030377,0.019631,0.341483,0.0,0.000493,3.753664,-0.737176,0.388438
11,001,100.0,0.126290,0.188413,0.023834,0.126583,0.024996,0.126124,0.055529,0.328766,...,0.003382,0.002643,0.029414,0.022291,0.300317,0.0,0.000636,4.180299,-0.449494,0.456045
13,001,100.0,0.126344,0.188792,0.023866,0.126641,0.024909,0.126202,0.055519,0.328766,...,0.003895,0.002665,0.025747,0.033456,0.273545,0.0,0.000934,4.626769,-0.389839,0.613328

<h2>Compare Facial Expressions by Grade Group</h2>

In [5]:

from tabulate import tabulate

# Add a new column to the combined_data_with_grades dataframe that indicates whether the grade is above or below 55
facial_expressions_data['Grade Group'] = facial_expressions_data['Grade'].apply(lambda x: 'Above 55' if x >= 55 else 'Below 55')

# Describe statistics for each selected column by grade group
selected_columns = ['Anger', 'Contempt', 'Disgust', 'Fear', 'Joy', 'Sadness', 'Surprise',
       'Engagement', 'Valence', 'Sentimentality', 'Confusion']

<h2>Table for Each Emotion Describe</h2>

In [6]:
from scipy.stats import ttest_ind
from selenium import webdriver

# create a new Firefox browser window
driver = webdriver.Firefox()

# Define a function to add a star to indicate statistical significance
def add_star(pval):
    if pval < 0.05:
        return '*'
    else:
        return ''

# Loop through the emotions and perform a t-test between the grade groups
for col in selected_columns:
    # Create a DataFrame for the current emotion only
    emotion_data = facial_expressions_data.loc[:, ['Grade Group', col]]

    above_55 = emotion_data.loc[emotion_data['Grade Group'] == 'Above 55', col]
    below_55 = emotion_data.loc[emotion_data['Grade Group'] == 'Below 55', col]
    t, pval = ttest_ind(above_55, below_55, equal_var=False)
    pval_star = add_star(pval)

    # Calculate the statistics for the current emotion
    emotion_stats = emotion_data.groupby('Grade Group')[col].describe()
    emotion_stats['mean_diff'] = emotion_stats['mean'].diff().fillna(0)
    emotion_stats['median_diff'] = emotion_stats['50%'].diff().fillna(0)
    emotion_stats.loc['', 'p-value'] = pval

    # Create a formatted table for the current emotion
    emotion_stats_formatted = emotion_stats.style\
        .set_table_styles([{'selector': 'th', 'props': [('text-align', 'center')]}])\
        .set_caption(col)\
        .format('{:.2f}')\
        .set_properties(**{'width': '50px', 'text-align': 'center'})\
        .set_table_attributes('style="border-collapse: separate; border-spacing: 20px;"')\
        .applymap(lambda x: 'background-color: #f2f2f2' if x == emotion_stats['mean'].max() else '')

    # Display the table for the current emotion
    display(emotion_stats_formatted)

    # Save the table as an HTML file and take a screenshot
    filename = col + '_grades_stats.html'
    emotion_stats_formatted.to_html(filename)
    driver.get('C:\\projects\\classifiers\\' + filename)
    driver.save_screenshot(filename + "_screenshot.png")

# close the browser window
driver.quit()

In [7]:
print(facial_expressions_data)

        Respondent  Grade     Anger  Contempt   Disgust      Fear       Joy  \
5              001  100.0  0.125566  0.186393  0.023706  0.125796  0.025453
7              001  100.0  0.125833  0.186909  0.023738  0.126169  0.025312
9              001  100.0  0.126258  0.187818  0.023798  0.126605  0.025114
11             001  100.0  0.126290  0.188413  0.023834  0.126583  0.024996
13             001  100.0  0.126344  0.188792  0.023866  0.126641  0.024909
...            ...    ...       ...       ...       ...       ...       ...
1533692        019   55.0  0.139795  0.183797  0.026397  0.130016  0.045364
1533694        019   55.0  0.153553  0.176831  0.026905  0.128566  0.046042
1533696        019   55.0  0.168653  0.193708  0.027669  0.130344  0.045429
1533698        019   55.0  0.195341  0.187637  0.027562  0.130503  0.043328
1533699        019   55.0  0.245047  0.204197  0.028027  0.133038  0.041089

          Sadness  Surprise  Engagement  ...  Lid Tighten  Mouth Open  \
5        0.125512  0.055428    0.328766  ...     0.002685    0.027488
7        0.125694  0.055510    0.328766  ...     0.002068    0.027396
9        0.125970  0.055607    0.328766  ...     0.002222    0.030377
11       0.126124  0.055529    0.328766  ...     0.002643    0.029414
13       0.126202  0.055519    0.328766  ...     0.002665    0.025747
...           ...       ...         ...  ...          ...         ...
1533692  0.117328  0.060181    0.328766  ...     2.270765    6.647667
1533694  0.116635  0.058846    0.328766  ...     4.729377    6.861856
1533696  0.117382  0.058326    0.328766  ...     6.785742    7.472722
1533698  0.117269  0.057809    0.328766  ...    10.632483    7.365998
1533699  0.118906  0.057576    0.328766  ...    16.228485    7.659717

         Nose Wrinkle     Smile     Smirk  Upper Lip Raise     Pitch  \
5            0.008689  0.443331  0.000000         0.000345  6.757946
7            0.013201  0.406091  0.000000         0.000376  3.458502
9            0.019631  0.341483  0.000000         0.000493  3.753664
11           0.022291  0.300317  0.000000         0.000636  4.180299
13           0.033456  0.273545  0.000000         0.000934  4.626769
...               ...       ...       ...              ...       ...
1533692      0.457276  4.720551  2.773993         0.106491  1.251196
1533694      0.512176  4.703412  2.382556         0.255912  0.392811
1533696      0.519497  4.585781  3.149543         0.253990  0.286135
1533698      0.463937  4.418400  2.717841         0.150040 -1.702013
1533699      0.376117  4.076993  3.261096         0.070152 -0.172043

              Yaw      Roll  Grade Group
5       -1.150817 -0.977193     Above 55
7       -0.160348  0.267830     Above 55
9       -0.737176  0.388438     Above 55
11      -0.449494  0.456045     Above 55
13      -0.389839  0.613328     Above 55
...           ...       ...          ...
1533692 -1.319161 -0.530024     Above 55
1533694 -1.608518 -0.468374     Above 55
1533696 -1.387060 -0.229705     Above 55
1533698 -1.998969 -0.185392     Above 55
1533699 -1.711222 -0.415041     Above 55

[936917 rows x 39 columns]

In [10]:
from scipy.stats import ttest_ind
from selenium import webdriver
import numpy as np

# create a new Firefox browser window
driver = webdriver.Firefox()

# Define a function to perform a bootstrap test between two groups
def bootstrap_test(group1, group2, n_bootstraps=10000):
    # Calculate the observed difference in means between the groups
    obs_diff = np.mean(group1) - np.mean(group2)

    # Combine the data into a single array
    combined_data = np.concatenate([group1, group2])

    # Create an empty array to store the bootstrap replicates
    bootstrap_diffs = np.zeros(n_bootstraps)

    # Perform the bootstrap
    for i in range(n_bootstraps):
        # Sample with replacement from the combined data
        sample = np.random.choice(combined_data, size=len(combined_data), replace=True)

        # Split the sample into two groups
        bootstrap_group1 = sample[:len(group1)]
        bootstrap_group2 = sample[len(group1):]

        # Calculate the difference in means between the bootstrap groups
        bootstrap_diffs[i] = np.mean(bootstrap_group1) - np.mean(bootstrap_group2)

    # Calculate the p-value
    pval = (np.sum(bootstrap_diffs >= obs_diff) + np.sum(bootstrap_diffs <= -obs_diff)) / n_bootstraps

    return pval

# Loop through the emotions and perform a bootstrap test between the grade groups
for col in selected_columns:
    # Create a DataFrame for the current emotion only
    emotion_data = facial_expressions_data.loc[:, ['Grade Group', col]]

    above_55 = emotion_data.loc[emotion_data['Grade Group'] == 'Above 55', col]
    below_55 = emotion_data.loc[emotion_data['Grade Group'] == 'Below 55', col]
    pval = bootstrap_test(above_55, below_55)

    # Calculate the statistics for the current emotion
    emotion_stats = emotion_data.groupby('Grade Group')[col].describe()
    emotion_stats['mean_diff'] = emotion_stats['mean'].diff().fillna(0)
    emotion_stats['median_diff'] = emotion_stats['50%'].diff().fillna(0)
    emotion_stats.loc['', 'p-value'] = pval

    # Create a formatted table for the current emotion
    emotion_stats_formatted = emotion_stats.style\
        .set_table_styles([{'selector': 'th', 'props': [('text-align', 'center')]}])\
        .set_caption(col)\
        .format('{:.2f}')\
        .set_properties(**{'width': '50px', 'text-align': 'center'})\
        .set_table_attributes('style="border-collapse: separate; border-spacing: 20px;"')\
        .applymap(lambda x: 'background-color: #f2f2f2' if x == emotion_stats['mean'].max() else '')

    # Display the table for the current emotion
    display(emotion_stats_formatted)

    # Save the table as an HTML file and take a screenshot
    filename = col + '_grades_stats.html'
    emotion_stats_formatted.to_html(filename)
    driver.get('C:\\projects\\classifiers\\' + filename)
    driver.save_screenshot(filename + "_screenshot.png")

# close the browser window
driver.quit()