<h1>Statistical Analysis</h3>

<h2>Load Data</h2>

<h2>Mean Values per Respondent - first 5 minutes</h2>

In [26]:
import pandas as pd
import os

combined_data = pd.DataFrame()

def add_respondent_data(file_name, respondent_num, combined_df):
    # Read the CSV file
    respondent_df = pd.read_csv(file_name, low_memory=False)
    
    # Add a new column with the respondent number
    respondent_df['Respondent'] = respondent_num
    
    # Concatenate with the existing combined DataFrame
    updated_combined_df = pd.concat([combined_df, respondent_df])
    
    return updated_combined_df

folder_path = "../../all respondents data/Data from Liza"

first_respondent_csv = os.path.join(folder_path, "003_ID44.csv")   # Grade: 100 
second_respondent_csv = os.path.join(folder_path, "006_ID10.csv")   # Grade: 80
third_respondent_csv = os.path.join(folder_path, "005_ID13_not good.csv")   # Grade: 50
fourth_respondent_csv = os.path.join(folder_path, "004_ID17_not_so_good.csv")   # Grade: 50
fifth_respondent_csv = os.path.join(folder_path, "001_ID98_not good.csv")   # Grade: 40
sixth_respondent_csv = os.path.join(folder_path, "002_ID39_not good.csv")   # Grade: 92

combined_data = add_respondent_data(first_respondent_csv, 'ID44', combined_data)
combined_data = add_respondent_data(second_respondent_csv, 'ID10', combined_data)
combined_data = add_respondent_data(third_respondent_csv, 'ID13', combined_data)
combined_data = add_respondent_data(fourth_respondent_csv, 'ID17', combined_data)
combined_data = add_respondent_data(fifth_respondent_csv, 'ID98', combined_data)
combined_data = add_respondent_data(sixth_respondent_csv, 'ID39', combined_data)

combined_data.head()

,Row,Timestamp,Anger,Contempt,Disgust,Fear,Joy,Sadness,Surprise,Engagement,...,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70
0,1.0,0.0,0.130529,0.194582,0.024394,0.129004,0.024742,0.130141,0.056362,0.328766,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3.0,33.0,0.130884,0.193443,0.024547,0.130436,0.025172,0.129138,0.057480,0.328766,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,66.0,0.130706,0.193106,0.024504,0.130593,0.025579,0.129134,0.057617,0.328766,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5.0,100.0,0.131150,0.193001,0.024548,0.131116,0.025576,0.129335,0.057678,0.328766,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6.0,133.0,0.131343,0.192958,0.024694,0.131147,0.025620,0.129467,0.057552,0.328766,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
combined_data.to_csv('./all_lizas_data.csv')

In [28]:
import pandas as pd
import numpy as np

# Columns to check for NaN values
columns_to_check = [ 'Contempt', 'Smirk', 'Surprise', 'Joy', 'Smile', 'Sadness', 'BlinkRate']

# Function to remove rows with NaN in specific columns
def remove_nan_rows(group):
    return group.dropna(subset=columns_to_check)

# Apply the function to each group of respondents
cleaned_df = combined_data.groupby('Respondent', group_keys=False).apply(remove_nan_rows)

print(cleaned_df[columns_to_check])

        Contempt  Smirk  Surprise       Joy     Smile   Sadness  BlinkRate
304     0.193269    0.0  0.896640  0.024466  0.046995  0.129712       12.0
305     0.193102    0.0  1.194262  0.024549  0.059991  0.129842       12.0
306     0.192848    0.0  1.720508  0.024686  0.077337  0.129940       12.0
307     0.192423    0.0  2.513143  0.024857  0.103606  0.130033       12.0
308     0.192040    0.0  3.347697  0.025068  0.131524  0.130201       12.0
...          ...    ...       ...       ...       ...       ...        ...
112695  0.147635    0.0  0.062942  0.035968  3.089278  0.113379        6.0
112696  0.148295    0.0  0.061844  0.036153  3.168612  0.114594        6.0
112697  0.148394    0.0  0.061110  0.036436  3.249912  0.115312        6.0
112698  0.147205    0.0  0.060384  0.037461  3.413649  0.115149        6.0
112699  0.145511    0.0  0.059835  0.038738  3.610710  0.114823        6.0

[342160 rows x 7 columns]

In [29]:
# Get unique values in the 'Respondent' column
unique_respondents = cleaned_df['Respondent'].unique()

# Print the unique values
print(unique_respondents)

['ID10' 'ID13' 'ID17' 'ID44' 'ID98']

<h4>Full Session Mean</h4>

In [30]:
import pandas as pd
import numpy as np

columns_to_average = ['Contempt', 'Smirk', 'Surprise', 'Joy', 'Smile', 'Sadness', 'BlinkRate'] 

# Calculate the mean for the specified columns for each respondent
mean_values_per_respondent = cleaned_df.groupby('Respondent')[columns_to_average].mean()

# Reset the index so 'respondent' becomes a column again, if desired
mean_values_per_respondent.reset_index(inplace=True)

print(mean_values_per_respondent)

  Respondent  Contempt     Smirk  Surprise        Joy      Smile   Sadness  \
0       ID10  0.339416  0.630430  0.374016   4.593124   9.455350  0.404492
1       ID13  0.241036  2.401491  1.553411  16.319573  28.245165  0.272261
2       ID17  0.549909  2.699731  0.754405   1.991545   2.681640  0.306827
3       ID44  0.686758  1.292781  0.693617   0.083430   0.658354  0.703780
4       ID98  0.404286  1.450335  3.040341   8.179064  10.908241  0.223287

   BlinkRate
0   2.696977
1   0.232523
2   0.731362
3   1.695856
4   2.285506

In [31]:
mean_values_per_respondent.to_csv('./datasets/Data_from_liza_facial_mean_values_per_respondent_27_3_2024.csv')

<h4>First 5 Minutes Mean</h4>

In [66]:
import pandas as pd
import numpy as np


columns_to_average = ['Contempt', 'Smirk', 'Surprise', 'Joy', 'Smile', 'Sadness', 'BlinkRate']

# Function to process each group
def process_group(group):
    # Sort the group by Timestamp
    sorted_group = group.sort_values(by='Timestamp')
    # Select the first 10,000 rows
    selected_samples = sorted_group.head(10000)     # First 5 minutes
    # Calculate the mean for the specified columns
    return selected_samples[columns_to_average].mean()

# Calculate the mean for the specified columns for each respondent, based on the first 10,000 rows ordered by Timestamp
mean_values_per_respondent = cleaned_df.groupby('Respondent').apply(process_group)

mean_values_per_respondent.reset_index(inplace=True)

print(mean_values_per_respondent)

  Respondent  Contempt     Smirk  Surprise        Joy      Smile   Sadness  \
0       ID10  0.176197  0.524857  0.293633   3.716134   9.105960  0.169417
1       ID13  0.381703  1.755794  1.623575  20.357950  35.021996  0.432461
2       ID17  0.903339  3.512868  3.099678   0.587198   1.065402  1.277740
3       ID44  0.288657  0.374947  0.120480   0.028721   0.243033  0.553659
4       ID98  0.178758  1.489180  1.793911   9.762782  14.436672  0.279425

   BlinkRate
0     3.9168
1     0.0000
2     0.6552
3     0.9690
4     1.6854

In [67]:
mean_values_per_respondent.to_csv('./datasets/Data_from_liza_first_5_minutes_mean_28_3_2024.csv')

<h4>Import Mean Data to Test</h4>

In [68]:
import pandas as pd

# Load data
file_path = './datasets/Data_from_liza_first_5_minutes_mean_28_3_2024.csv'
mean_data_from_file = df = pd.read_csv(file_path, low_memory=False)

mean_data_from_file.head()

,Unnamed: 0,Respondent,Contempt,Smirk,Surprise,Joy,Smile,Sadness,BlinkRate
0,0,ID10,0.176197,0.524857,0.293633,3.716134,9.105960,0.169417,3.9168
1,1,ID13,0.381703,1.755794,1.623575,20.357950,35.021996,0.432461,0.0000
2,2,ID17,0.903339,3.512868,3.099678,0.587198,1.065402,1.277740,0.6552
3,3,ID44,0.288657,0.374947,0.120480,0.028721,0.243033,0.553659,0.9690
4,4,ID98,0.178758,1.489180,1.793911,9.762782,14.436672,0.279425,1.6854

In [69]:
mean_data_from_file.columns

Index(['Unnamed: 0', 'Respondent', 'Contempt', 'Smirk', 'Surprise', 'Joy',
       'Smile', 'Sadness', 'BlinkRate'],
      dtype='object')

<h2>Classifiers Validation</h2>

<h3>Random Forest Classifier 5 Minutes</h3>

In [70]:
from joblib import load

rf_classifier_loaded = load('./Grade Classifiers/rf_first_5_minutes_classifier.joblib')

In [71]:
# List of columns that were used as features
features_list = ['Contempt', 'Smirk', 'Surprise', 'Joy', 'Smile', 'Sadness', 'BlinkRate'] 

new_respondents_df = mean_data_from_file[features_list]

predictions = rf_classifier_loaded.predict(new_respondents_df)

# Adding predictions to the new_respondents_df
new_respondents_df['Predicted Grade Group'] = predictions

print(new_respondents_df)

   Contempt     Smirk  Surprise        Joy      Smile   Sadness  BlinkRate  \
0  0.176197  0.524857  0.293633   3.716134   9.105960  0.169417     3.9168
1  0.381703  1.755794  1.623575  20.357950  35.021996  0.432461     0.0000
2  0.903339  3.512868  3.099678   0.587198   1.065402  1.277740     0.6552
3  0.288657  0.374947  0.120480   0.028721   0.243033  0.553659     0.9690
4  0.178758  1.489180  1.793911   9.762782  14.436672  0.279425     1.6854

  Predicted Grade Group
0              Above 55
1              Above 55
2              Below 55
3              Above 55
4              Above 55

C:\Users\user\AppData\Local\Temp\ipykernel_202744\1332387697.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_respondents_df['Predicted Grade Group'] = predictions

<h3>Random Forest Classifier Full Sessions</h3>

In [72]:
from joblib import load

rf_classifier_loaded = load('./Grade Classifiers/rf_full_session_classifier.joblib')

In [73]:
# List of columns that were used as features
features_list = ['Contempt', 'Smirk', 'Surprise', 'Joy', 'Smile', 'Sadness', 'BlinkRate'] 

new_respondents_df = mean_data_from_file[features_list]

predictions = rf_classifier_loaded.predict(new_respondents_df)

# Adding predictions to the new_respondents_df
new_respondents_df['Predicted Grade Group'] = predictions

print(new_respondents_df)

   Contempt     Smirk  Surprise        Joy      Smile   Sadness  BlinkRate  \
0  0.176197  0.524857  0.293633   3.716134   9.105960  0.169417     3.9168
1  0.381703  1.755794  1.623575  20.357950  35.021996  0.432461     0.0000
2  0.903339  3.512868  3.099678   0.587198   1.065402  1.277740     0.6552
3  0.288657  0.374947  0.120480   0.028721   0.243033  0.553659     0.9690
4  0.178758  1.489180  1.793911   9.762782  14.436672  0.279425     1.6854

  Predicted Grade Group
0              Above 55
1              Above 55
2              Below 55
3              Above 55
4              Below 55

C:\Users\user\AppData\Local\Temp\ipykernel_202744\1332387697.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_respondents_df['Predicted Grade Group'] = predictions

<h3>Logistic Regression</h3>

In [74]:
import pandas as pd

# Load data
file_path = './datasets/Data_from_liza_facial_mean_values_per_respondent_27_3_2024.csv'
mean_data_from_file = df = pd.read_csv(file_path, low_memory=False)

mean_data_from_file.head()

,Unnamed: 0,Respondent,Contempt,Smirk,Surprise,Joy,Smile,Sadness,BlinkRate,Grade,Grade Group
0,0,ID10,0.339416,0.630430,0.374016,4.593124,9.455350,0.404492,2.696977,80,Above 55
1,1,ID13,0.241036,2.401491,1.553411,16.319573,28.245165,0.272261,0.232523,50,Below or Equal 55
2,2,ID17,0.549909,2.699731,0.754405,1.991545,2.681640,0.306827,0.731362,50,Below or Equal 55
3,3,ID44,0.686758,1.292781,0.693617,0.083430,0.658354,0.703780,1.695856,100,Above 55
4,4,ID98,0.404286,1.450335,3.040341,8.179064,10.908241,0.223287,2.285506,40,Below or Equal 55

In [75]:
from joblib import load

rf_classifier_loaded = load('./Grade Classifiers/LogisticRegression_full_session_classifier.joblib')

In [76]:
# List of columns that were used as features
features_list = [ 'Contempt', 'Smirk', 'Surprise', 'Joy', 'Smile', 'Sadness', 'BlinkRate'] 

new_respondents_df = mean_data_from_file[features_list]

predictions = rf_classifier_loaded.predict(new_respondents_df)

# Adding predictions to the new_respondents_df
new_respondents_df['Predicted Grade Group'] = predictions

print(new_respondents_df)

   Contempt     Smirk  Surprise        Joy      Smile   Sadness  BlinkRate  \
0  0.339416  0.630430  0.374016   4.593124   9.455350  0.404492   2.696977
1  0.241036  2.401491  1.553411  16.319573  28.245165  0.272261   0.232523
2  0.549909  2.699731  0.754405   1.991545   2.681640  0.306827   0.731362
3  0.686758  1.292781  0.693617   0.083430   0.658354  0.703780   1.695856
4  0.404286  1.450335  3.040341   8.179064  10.908241  0.223287   2.285506

  Predicted Grade Group
0              Below 55
1              Below 55
2              Below 55
3              Below 55
4              Below 55

C:\Users\user\AppData\Local\Temp\ipykernel_202744\2892904641.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_respondents_df['Predicted Grade Group'] = predictions

<h3>Decision Tree Additional Features</h3>

In [80]:
import pandas as pd

# Load data
file_path = './datasets/Data_from_liza_facial_mean_values_per_respondent_27_3_2024.csv'
mean_data_from_file = df = pd.read_csv(file_path, low_memory=False)

mean_data_from_file.head()

,Unnamed: 0,Respondent,Contempt,Smirk,Surprise,Joy,Smile,Sadness,BlinkRate,Grade,Grade Group
0,0,ID10,0.339416,0.630430,0.374016,4.593124,9.455350,0.404492,2.696977,80,Above 55
1,1,ID13,0.241036,2.401491,1.553411,16.319573,28.245165,0.272261,0.232523,50,Below or Equal 55
2,2,ID17,0.549909,2.699731,0.754405,1.991545,2.681640,0.306827,0.731362,50,Below or Equal 55
3,3,ID44,0.686758,1.292781,0.693617,0.083430,0.658354,0.703780,1.695856,100,Above 55
4,4,ID98,0.404286,1.450335,3.040341,8.179064,10.908241,0.223287,2.285506,40,Below or Equal 55

In [81]:
from joblib import load

dt_classifier_loaded = load('./Grade Classifiers/dt_classifier.joblib')

In [82]:
print(dt_classifier_loaded.feature_names_in_)

['Contempt' 'Smirk' 'Surprise' 'Joy' 'Smile' 'Sadness' 'BlinkRate']

In [49]:
print(mean_data_from_file.columns)

Index(['Unnamed: 0', 'Respondent', 'Contempt', 'Smirk', 'Surprise', 'Joy',
       'Smile', 'Sadness', 'BlinkRate', 'Grade', 'Grade Group'],
      dtype='object')

In [83]:
# List of columns that were used as features
features_list = ['Contempt', 'Smirk', 'Surprise', 'Joy', 'Smile', 'Sadness', 'BlinkRate'] 

new_respondents_df = mean_data_from_file[features_list]

predictions = dt_classifier_loaded.predict(new_respondents_df)

# Adding predictions to the new_respondents_df
new_respondents_df['Predicted Grade Group'] = predictions

print(new_respondents_df)

   Contempt     Smirk  Surprise        Joy      Smile   Sadness  BlinkRate  \
0  0.339416  0.630430  0.374016   4.593124   9.455350  0.404492   2.696977
1  0.241036  2.401491  1.553411  16.319573  28.245165  0.272261   0.232523
2  0.549909  2.699731  0.754405   1.991545   2.681640  0.306827   0.731362
3  0.686758  1.292781  0.693617   0.083430   0.658354  0.703780   1.695856
4  0.404286  1.450335  3.040341   8.179064  10.908241  0.223287   2.285506

  Predicted Grade Group
0              Above 55
1              Below 55
2              Above 55
3              Below 55
4              Below 55

C:\Users\user\AppData\Local\Temp\ipykernel_202744\559918623.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_respondents_df['Predicted Grade Group'] = predictions

<h3>Naive Bayes</h3>

In [84]:
from joblib import load

nb_classifier_loaded = load('./Grade Classifiers/NB_model.joblib')

In [85]:
# List of columns that were used as features
features_list = ['Smirk', 'Surprise', 'Joy', 'Smile', 'Sadness', 'BlinkRate'] 

new_respondents_df = mean_data_from_file[features_list]

predictions = nb_classifier_loaded.predict(new_respondents_df)

# Adding predictions to the new_respondents_df
new_respondents_df['Predicted Grade Group'] = predictions

print(new_respondents_df)

      Smirk  Surprise        Joy      Smile   Sadness  BlinkRate  \
0  0.630430  0.374016   4.593124   9.455350  0.404492   2.696977
1  2.401491  1.553411  16.319573  28.245165  0.272261   0.232523
2  2.699731  0.754405   1.991545   2.681640  0.306827   0.731362
3  1.292781  0.693617   0.083430   0.658354  0.703780   1.695856
4  1.450335  3.040341   8.179064  10.908241  0.223287   2.285506

  Predicted Grade Group
0              Above 55
1              Above 55
2              Below 55
3              Above 55
4              Above 55

C:\Users\user\AppData\Local\Temp\ipykernel_202744\873965728.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_respondents_df['Predicted Grade Group'] = predictions

<h3>XGBoost</h3>

In [86]:
from joblib import load

xgb_classifier_loaded = load('./Grade Classifiers/xgboost_classifier_2.joblib')

In [87]:
# List of columns that were used as features
features_list =  ['Contempt', 'Surprise', 'Joy', 'Sadness']

new_respondents_df = mean_data_from_file[features_list]

predictions = xgb_classifier_loaded.predict(new_respondents_df)

# Adding predictions to the new_respondents_df
new_respondents_df['Predicted Grade Group'] = predictions

print(new_respondents_df)

   Contempt  Surprise        Joy   Sadness  Predicted Grade Group
0  0.339416  0.374016   4.593124  0.404492                      0
1  0.241036  1.553411  16.319573  0.272261                      0
2  0.549909  0.754405   1.991545  0.306827                      0
3  0.686758  0.693617   0.083430  0.703780                      0
4  0.404286  3.040341   8.179064  0.223287                      0

C:\Users\user\AppData\Local\Temp\ipykernel_202744\2546086577.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_respondents_df['Predicted Grade Group'] = predictions

<h3>LightGBM</h3>

In [88]:
from joblib import load

lightgbm_classifier_loaded = load('./Grade Classifiers/lightgbm_classifier.joblib')

In [89]:
# List of columns that were used as features
features_list =  ['Contempt', 'Smirk', 'Surprise', 'Joy', 'Smile', 'Sadness', 'BlinkRate']

new_respondents_df = mean_data_from_file[features_list]

predictions = lightgbm_classifier_loaded.predict(new_respondents_df)

# Adding predictions to the new_respondents_df
new_respondents_df['Predicted Grade Group'] = predictions

print(new_respondents_df)

   Contempt     Smirk  Surprise        Joy      Smile   Sadness  BlinkRate  \
0  0.339416  0.630430  0.374016   4.593124   9.455350  0.404492   2.696977
1  0.241036  2.401491  1.553411  16.319573  28.245165  0.272261   0.232523
2  0.549909  2.699731  0.754405   1.991545   2.681640  0.306827   0.731362
3  0.686758  1.292781  0.693617   0.083430   0.658354  0.703780   1.695856
4  0.404286  1.450335  3.040341   8.179064  10.908241  0.223287   2.285506

   Predicted Grade Group
0                      0
1                      0
2                      0
3                      0
4                      0

C:\Users\user\AppData\Local\Temp\ipykernel_202744\3365019308.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_respondents_df['Predicted Grade Group'] = predictions